h1{
    text-align: center;
}

body{
    background-color: rgb(248, 188, 132);
}

.container{
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.marker{
    height: 25px;
    width: 200px;
    margin: 10px auto;
}

.red{
    background:linear-gradient(rgb(255,74,14),rgb(245, 62, 113),rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}

.green{
    background:linear-gradient(#55680D,#71f53e,#116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
}

.blue{
    background:linear-gradient(hsl(186, 76%, 16%),hsl(223, 90%, 60%),hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsl(223, 59%, 31%, 0.8);
}

.sleeve{
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 50%);
    border-left: 10px double rgba(0, 0, 0, 75%);
}

.cap{
    width: 60px;
    height: 25px;
}

.sleeve,.cap{
    display: inline-block;
}